.container {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .5rem;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    border : 1px solid #eee;
    box-shadow : 4px 4px 4px #ddd3;
    width: 25%;
}
.card > img {
    width: 100%;
}
.card > .card-body {
    padding: 10px 5px;
}
.card-body  > .card-title{
    padding: 0;
    margin: 0;
}
.card-body > p {
    padding: 0;
    margin: 0;
}